<style>
 div.item {border: solid 1px black; padding: 0.5em; margin: 0.5em}
</style>

<div style="float:right;width:23%">
  <div class="ui-widget-header">Templates</div>
  <div id="source" class="ui-widget-content ui-corner-all">
    <div class="item">
Shift Start
<div class="inner" style="display:none">
<div class="docid" style="font-size:x-small"></div>
<div class="timestamp" style="font-size:x-small"></div>
<table>
<form>
<table>
 <tr>
  <td><div class="ui-icon ui-icon-circle-close"></td>
  <td>thing 1</td>
  <td><input type="text" id="thing1"></td>
 </tr>
 <tr>
  <td><div class="ui-icon ui-icon-circle-close"></div></td>
  <td>thing 2</td>
  <td><input type="text" id="thing2"></td>
 </tr>
 <tr>
  <td><div class="ui-icon ui-icon-circle-plus"></div></td>
  <td colspan=2>Add new field</td>
 </tr>
</table>
</form>
</div>
    </div>

    <div class="item">
Hourly
<div class="inner" style="display:none">
<div class="docid" style="font-size:x-small"></div>
<div class="timestamp" style="font-size:x-small"></div>
<table>
<form>
<table>
 <tr>
  <td><div class="ui-icon ui-icon-circle-close"></td>
  <td>hourly thing 1</td>
  <td><input type="text" id="thing1"></td>
 </tr>
 <tr>
  <td><div class="ui-icon ui-icon-circle-close"></td>
  <td>hourly thing 2</td>
  <td><input type="text" id="thing2"></td>
 </tr>
 <tr>
  <td><div class="ui-icon ui-icon-circle-plus"></div></td>
  <td colspan=2>Add new field</td>
 </tr>
</table>
</form>
</div>
  </div>

    <div class="item">
Text entry
<div class="inner" style="display:none">
<div class="docid" style="font-size:x-small"></div>
<div class="timestamp" style="font-size:x-small"></div>
<form>
<textarea rows=25 cols=80></textarea>
</form>
</div>
  </div>
</div>
</div>

<div style="float:left;width:75%">
  <div class="ui-widget-header">Shift Report</div>
  <div id="target" class="ui-widget-content ui-corner-all" style="padding-bottom:1.5em">
    <div id="drag_hint" class="ui-state-disabled" style="padding:1.2em">Drag templates here...</div>
  </div>
</div>


<script>
// replace eventually with ajax query to couch?
// for now, thanks, s.o.!
function get_uuid() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
        var x = v.toString(16);
        return(x);
    });
}

$(document).ready(function(){
    $('.docid').html(get_uuid());
});

$( "#source .item" ).draggable({
    connectToSortable: '#target',
    cursor: 'move',
    revert: 'invalid',
    helper: 'clone',
    opacity: 0.7
}).disableSelection();

$( "#target" ).sortable({
    accept: ".item",
    receive: function (e, ui) { inout = 1; },
    over: function (e, ui) { inout = 1; },
    out: function (e, ui) { inout = 0; },
    beforeStop: function (e, ui) { if (inout == 0)  ui.item.remove(); },
    opacity: 0.7,
    dropOnEmpty: true,
    tolerance: 'pointer',
    placeholder: 'placeholder',
    cursor: 'move',
    receive: function(event, ui) {
        
    }
}).disableSelection();

$( "#target").droppable({
    accept: '.item',
    drop: function(e, ui){
        $('#drag_hint').fadeOut('slow');
        addDoc($(ui.draggable));
    }
});


function addDoc( item ) {
    item.find('div.docid').html(get_uuid());
    item.find('div.inner').fadeIn(1000);
}
</script>

