<style>
 div.item {border: solid 1px black; padding: 0.5em; margin: 0.5em}
</style>

<div style="float:right;width:23%">
  <div class="ui-widget-header">Templates</div>
  <div id="source" class="ui-widget-content ui-corner-all">
    <div class="item">Start <div class="docid">0</div></div>
    <div class="item">Hourly <div class="docid">0</div></div>
  </div>
</div>

<div style="float:left;width:75%">
  <div class="ui-widget-header">Shift Report</div>
  <div id="target" class="ui-widget-content ui-corner-all">
    <div class="item">Start</div>
    <div id="drag_hint" class="ui-state-disabled" style="padding:1.2em">Drag templates here...</div>
  </div>
</div>

<script>
var id=0;

$( "#source .item" ).draggable({
    connectToSortable: '#target',
    cursor: 'move',
    revert: 'invalid',
    helper: 'clone',
    opacity: 0.7
}).disableSelection();

$( "#target" ).sortable({
    receive: function (e, ui) { inout = 1; },
    over: function (e, ui) { inout = 1; },
    out: function (e, ui) { inout = 0; },
    beforeStop: function (e, ui) { if (inout == 0)  ui.item.remove(); },
    opacity: 0.7,
    dropOnEmpty: true,
    tolerance: 'pointer',
    placeholder: 'placeholder',
    cursor: 'move',
    receive: function(event, ui) {
        $('#drag_hint').fadeOut('slow');
        addDoc(ui.item);
    }
}).disableSelection();

function addDoc( $item ) {
    $item.find('div.docid').html(++id);
}
</script>

